@mixin flex-position($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid-columns($columns: 0.5fr 3fr 1fr 1fr 1fr 1fr, $gap: 24px) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
}

@mixin reveal-transition($delay: 0s, $background: $color-white) {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: $background;
  background-size: cover;
  z-index: 1;
  animation: left_to_right_reveal 1.5s;
  animation-fill-mode: both;
  animation-delay: $delay;
}
@keyframes left_to_right_reveal {
  0% {
    transform: scaleX(1);
    transform-origin: center right 0px;
  }
  100% {
    transform: scaleX(0);
    transform-origin: center right 0px;
  }
}

@mixin vertical-scroll-transition() {
  animation: vertical-scroll 8s ease-in-out infinite;
  -webkit-animation: vertical-scroll 8s ease-in-out infinite;
}
@keyframes vertical-scroll {
  0% {
    margin-left: 5%;
  }
  50% {
    margin-left: -37%;
  }
  100% {
    margin-left: 5%;
  }
}
