$font-family: "Outfit", sans-serif;

$color-white: #ffffff;

$color-black: #0d0d0d;
$color-black-2: #1a1a1a;
$color-black-3: #252525;

$color-grey: #f9f9f9;
$color-grey-2: #f2f2f2;
$color-grey-3: #eeeeee;
$color-grey-4: #cccccc;
$color-grey-5: #aaaaaa;

$color-orange: #fe4a23;
$color-orange: rgb(254, 74, 35);

$color-yellow: #ffd027;

$color-green: #3fc57d;

$box-shadow: 0px 5px 10px 0px rgba(24, 29, 37, 0.05);
$box-shadow-orange: 0px 5px 10px 0px rgba(254, 74, 35, 0.5);
